/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Maksukorttitestaus/nbproject/private/
/laskarit/viikko2/Maksukorttitestaus/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
Pasianssi/target
/Pasianssi/nbproject/
/laskarit/viikko2/test/nbproject/